@charset "utf-8";

/* Simple CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.screen {
    display: none;
    padding: 2rem;
    height: 100%;
}

.screen-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#splash-screen {
    display: block;
}

.header {
    color: black;
    background-color: pink;
    padding: 40px;
    border-radius: 40px 40px 0 0;
}

#game-board {
    padding: 10px;
}

body {
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  main {
    height: 800px;
    max-width: 800px;
    border-radius: 40px;
    background-image: none;
    background-color: rgb(41, 41, 41);
    background-size: cover;
    color: rgb(65, 103, 103);
  }